.filter {

}


.navbar .container .dropdown img {
	width: 67px;
	height: 67px;
	transition: 0.4s;
}

.navbar .container .dropdown img:hover {
	width: 77px;
	height: 77px;

}

.navbar-translate .navbar-brand:hover {
background-color: gold;
border-radius: 30px;

}

.navcolor {
	background-color: maroon;

}

.navbar .navbar-toggler {
	height: 84px;
	min-width: 84px;
}

.message_yall {
	text-align: center;
	font-size: 20px;
	color: grey;
}

.category {
	color: black;
}

[data-background-color]:not([data-background-color=gray]), [data-background-color]:not([data-background-color=gray]) .social-description h2, [data-background-color]:not([data-background-color=gray]) .title, [data-background-color]:not([data-background-color=gray]) p, [data-background-color]:not([data-background-color=gray]) p.blockquote, [data-background-color]:not([data-background-color=gray]) p.blockquote small {
	background-color: maroon;
}

.nav-item:hover {
	background-color: gold;
	border-radius: 5px;
}

.collapse .navbar-nav .nav-item img:hover {
	color: maroon;
}

.collapse .navbar-nav .nav-link img {
	width: 34px;
	height: 47px;
	transition: 0.4s;

}

.collapse .navbar-nav .nav-link img:hover {
	width: 44px;
	height: 57px;
}

.page_header {
	text-align: center;
}

.poster_manofiron {
	text-align: center;
	margin-bottom: 90px;

}

.content-center .form .card_header .card-title {
	font-family: 'Gugi', cursive;

}

.content-center .card-footer .btn{
	background-color: maroon;
}

.content-center .card-footer .btn:hover{
	background-color: gold;
}

.form .card_header {

}

.form .card_footer {

}

.image-container {
	width: 
}

.btn-round {
	background-color: maroon;
	font-family: 'Oxygen', sans-serif;

}

.btn-neutral.active:hover, .btn-neutral:active:hover, .btn-neutral:focus, .btn-neutral:hover, .btn-neutral:not(:disabled):not(.disabled).active, .btn-neutral:not(:disabled):not(.disabled).active:focus, .btn-neutral:not(:disabled):not(.disabled):active, .btn-neutral:not(:disabled):not(.disabled):active:focus, .show>.btn-neutral.dropdown-toggle, .show>.btn-neutral.dropdown-toggle:focus, .show>.btn-neutral.dropdown-toggle:hover {
	background-color: gold;
	color: white;
}

.spacing {
	background-color: white;
}

.spacing .montage_ {
	font-family: 'Gugi', cursive;
	font-size: 34px;
	text-align: center;
}

.who_we_are {
	background-image: url(http://wallpapershdnow.com/images/movies/superhero/iron-man/iron-man-wallpaper-5.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}


.who_we_are .container .title {
	color: white;
}

.who_we_are .container .category {
	color: white;

}

.who_we_are .col-md-8 .description {
	color: white;
	text-align: center;
}

.who_we_are .row .col-md-8 .title {
	

}

.trilogy_ironman {
	text-align: center;
	font-family: 'Gugi', cursive;
	font-size: 34px;
}

.gallery_ironman {
	text-align: center;
	font-family: 'Gugi', cursive;
	font-size: 34px;

}

.ironman_carousel .container .row .carousel {
	margin:auto;
}

.ironman_carousel .container .row {
	
}


.section-story-overview{
	background-color: maroon;
}

.section-story-overview .row .col-md-6 .image-left{
	width: 645px;
	height: 335px;
	margin-left: 2%;
	margin-bottom: 330px;
}

.section-story-overview .row .col-md-6 .image-beneath {
	width: 450px;
	height: 500px;
	margin-left: 100px;

}

.section-story-overview .row .col-md-6 p {
	color: white;
}

.section-story-overview p.blockquote{
	color: white;
	margin-right: 130px;
	font-family: 'Gugi', cursive;
}

.card-footer {
	background-color: rgba(0,0,0,.00);
}

.section-story-overview p.blockquote small {
	color: white;

}

.section-story-overview .row .col-md-5 p {
	color: white;
}

.section-story-overview .row .col-md-5 h3 {
	color: white;
	font-family: 'Gugi', cursive;
	text-align: center;
}

.section-team .team .team-player {
	padding: 50px;
}

.section-team .team .team-player img {
	max-width: 100px;
	height: 150px;
	width: 100px;

}

.section-team .team .team-player .btn-icon{
	background-color: maroon;
}

.section-team .team .team-player .btn-icon:hover{
	background-color: gold;
}

.sectiona {
	background-color: maroon;
}

.section .title {

}


.footer{
	background-color: gold;


}





@media screen and (max-width: 991px) {
	.sidebar-collapse .navbar-collapse:before {
		background-image: linear-gradient(#771919,#000 80%);
		opacity: .85;

	}

	.sidebar-collapse .navbar-collapse .nav-link img {
		width: 24px;
		height: 33px;
	}

	.section-story-overview .row .col-md-6 p{
	color: white;
	margin: auto;
	margin-top: 150px;
	}

	.section-story-overview .row .col-md-5 .image-right {
		margin: auto;
		margin-top: 60px;
		margin-bottom: 50px;
		width: 450px;
		height: 350px;

	}

/*	.container .d-flex {
		width: 347px;
		height: 646px;
	}*/

	.ironman_carousel .container {
		text-align: center;

	}

	.ironman_carousel .container .row .carousel{
		padding-bottom: 50px;
		padding-top: 12px;

	}


	.poster_manofiron .container img{
		text-align: center;
		width: 347px;
		height: 646px;
	}

	.poster_manofiron .container .man {
		margin: auto;
		padding: 10px;
	}

	.poster_manofiron .container .of {
		margin: auto;
		padding: 10px;
	}

	.poster_manofiron .container .iron {
		margin: auto;
		padding: 10px;
	}



	.section-story-overview .row {
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 50px;
		margin-bottom: 50px;
	}

/*	.section-story-overview .row .col-md-6 .image-left {
		width: 450px;
		height: 500px;


	}*/

	.section-story-overview .row .col-md-6 .image-beneath {
		width: 450px;
		height: 500px;
		margin-left: 52px;
		margin-top: 500px;

	}

	.section-story-overview .row .col-md-5 h3 {
	text-align: center; 
	margin-right: 30px;
	margin-left: 30px;

	}

	.section-story-overview .row .col-md-5 p {
	text-align: justify;	
	margin-right: 30px;
	margin-left: 30px;
	}
}

