.filter {

}

.navbar-translate .navbar-brand:hover {
background-color: gold;
border-radius: 30px;

}

.navcolor {
	background-color: maroon;

}

.navbar .navbar-toggler {
	height: 84px;
	min-width: 84px;
}

.nav-item:hover {
	background-color: gold;
	border-radius: 25px;
}

.collapse .navbar-nav .nav-item img:hover {
	color: maroon;
}

.collapse .navbar-nav .nav-link img {
	width: 34px;
	height: 47px;

}

.form .card_header {

}

.form .card_footer {

}

.image-container {
	width: 
}

.btn-round {
	background-color: maroon;
	font-family: 'Oxygen', sans-serif;

}

.card-footer .btn-round:hover {
	background-color: gold;
}

.who_we_are {
	background-color: gold;
}

.who_we_are .row .col-md-8 .title {
	

}


.section-story-overview{
	background-color: maroon;
}

.section-story-overview .row .col-md-6 .image-left{
	width: 645px;
	height: 335px;
	margin-left: 100px;
}

.section-story-overview .row .col-md-6 .image-beneath {
	width: 450px;
	height: 500px;
	margin-left: 130px;

}

.section-story-overview .row .col-md-6 p {
	color: white;
}

.section-story-overview p.blockquote{
	color: white;
	margin-right: 130px;
}

.card-footer {
	background-color: rgba(0,0,0,.00);
}

.section-story-overview p.blockquote small {
	color: white;

}

.section-story-overview .row .col-md-5 p {
	color: white;
}

.section-story-overview .row .col-md-5 h3 {
	color: white;
}

.section-team .team .team-player {
	padding: 50px;
}

.section-team .team .team-player img {
	max-width: 100px;
	height: 150px;
	width: 100px;

}

.section-team .team .team-player .btn-icon{
	background-color: maroon;
}

.section-team .team .team-player .btn-icon:hover{
	background-color: gold;
}

.sectiona {
	background-color: maroon;
}

.section .title {

}


.footers {
	background-color: gold;

}





@media screen and (max-width: 991px) {
	.sidebar-collapse .navbar-collapse:before {
		background-image: linear-gradient(#771919,#000 80%);
		opacity: .76;

	}

	.sidebar-collapse .navbar-collapse .nav-link img {
		width: 24px;
		height: 33px;
	}


}

@media only screen and (max-width: 700px) {
	.section-story-overview .row {
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.section-story-overview .row .col-md-6 .image-left {
		width: 450px;
		height: 500px;

	}

	.section-story-overview .row .col-md-6 .image-beneath {
		width: 450px;
		height: 500px;

	}
}
